<body class="color">
<div class="container">
<div class="row">
    <div class="col-12">
        
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-md-6 col-md-6"  >
                <!-- Card -->
                <div class="card color1">
                    <img class="card-img-top img-responsive" src="/../../assets/images/html.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">HTML5</h4>
                        <p class="card-text">Beginner course on HTML5 that helps in building responsive website from<br> scratch.
                           </p>
                           <div style="text-align:center">
                              <a href="#" class="btn btn-primary">View Details</a></div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            
            <!-- column -->
            <!-- column -->
            <div class="col-lg-6 col-md-6">
                <!-- Card -->
                <div class="card color1">
                    <img class="card-img-top img-responsive" src="/../../assets/images/angular.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Angularjs</h4>
                        <p class="card-text">Learn the faster Angular 2 and its fundamentals (including TypeScript) in this Angular JS 2 tutorial.</p>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary">View Details</a></div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            </div><br><br>
            <div class="row">
            <!-- column -->
            <!-- column -->
            <div class="col-md-6 col-md-6">
                <!-- Card -->
                <div class="card color1">
                    <img class="card-img-top img-responsive" src="/../../assets/images/node.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Node.js</h4>
                        <p class="card-text">Learn JavaScript’s most popular environment & become an expert in web development with this Node.JS beginners tutorial.</p>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary">View Details</a></div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-md-6 col-md-6">
                <!-- Card -->
                <div class="card color1">
                    <img class="card-img-top img-responsive" src="/../../assets/images/deep.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Deep Learning</h4>
                        <p class="card-text">A complete guide to master machine learning concepts and create real world ML<br> solutions</p>
                        <div style="text-align:center">
                        <a href="#" class="btn btn-primary">View Details</a></div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
</div>
</body>